.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

:root {
    --primary-color: hsl(47, 88%, 63%);
    --accent-color: hsl(0, 0%, 100%);
    --accent-2-color: hsl(0, 0%, 50%);
    --text-color: hsl(0, 0%, 7%);

    --font-size: 16px;
    --weight-1: 500;
    --weight-2: 600;
}

html, body {
    font-family: "Figtree", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    color: var(--text-color);
}

img {
    display: block;
    max-width: 100%;
}

p, a {
    margin: 0;
}

.wrapper {
    max-width: 100%;
    min-height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--accent-color);
    max-width: 400px;
    box-shadow: 8px 8px 0px 0 #000;
    border: 1px solid var(--text-color);
}

.container-image {
    max-width: 100%;
    min-height: 12rem;
    border-radius: 5px;
    background-image: url('/assets/images/illustration-article.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category {
    background-color: var(--primary-color);
    padding: 0.5em;
    display: inline-block;
    font-weight: bolder;
    border-radius: 5px;
    margin: 1em 0em;
}

.date {
    font-weight: bold;
    margin-bottom: 1em;
}

.title {
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    color: inherit;
}

.title:hover {
    color: var(--primary-color);
}

.para {
    color: var(--accent-2-color);
    margin: 1.5em 0em;
    line-height: 1.5;
}

.avatar {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: var(--weight-2);
}

.avatar-img {
    object-fit: contain;
    width: 2em;
}

/* Media Queries */
@media only screen and (max-width: 375px) {
    
  }